@mixin fontsize-h1($v1){
    font-size: $v1;
}
.bg-text-h1{
    @include fontsize-h1(32px);
    letter-spacing: 2px;
    text-align: center;
}

.bg-text {
    width: 70%;
}

@mixin bg-text-caps-mixin{
    z-index: -1;
    filter: blur(1px);
    color: #535353;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    font-weight: 900;
    font-family: "Raleway", sans-serif;
}
.bg-text-caps-p{
    font-size: 19vw;
    padding-left: 1.5vh;
    letter-spacing: 6vw;
    @include bg-text-caps-mixin()
}
// .bg-bottom-caps-p{
//     display: flex;
//     justify-content: center;
//     font-size: 13vw;
//     letter-spacing: 3vw;
//     @include bg-text-caps-mixin()
// }
@mixin bg-gradient{
    background: linear-gradient(217deg, rgba(255,0,0,0.8), rgba(255,0,0,0) 50.71%),linear-gradient(127deg, rgba(50, 227, 50, 0.8), rgba(0,255,0,0) 70.71%),linear-gradient(336deg, rgba(0,0,255,0.8), rgba(0,0,255,0) 70.71%);
    animation: gradient 12s ease infinite;
    background-size: 200% 200%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bg {
    @include bg-gradient();
    height: 540px;
}
.description-container-social-media-1{
    height: 140px;
}
body {
    @include bg-gradient();
    font-family: 'Mulish', sans-serif;
    height: 100%;
}
@mixin bg-containers($opacity){
    color: rgba(255, 255, 255, 0.73);
    background: rgba(0, 0, 0, $opacity);
}
.logo-info {
    @include bg-containers(0.87);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    @include bg-containers(0.95);
    width: 100%;
    padding: 30px;
    margin: 0;
}
.copyright {
    @include bg-containers(0.87);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.content-img-text{
    position: absolute;
    z-index: 1;
    display: flex;
    font-size: 1.4vw;
    justify-content: center;
    transition: 0.5s;
    &:hover{
        font-size: 1.7vw;
        transition: 0.2s;
    }
}
// @mixin bg-gradient{
//     animation: gradient 12s ease infinite;
//     background-size: 180% 80%;
// }
// .description-container-social-media-1{
//     background: linear-gradient(217deg, rgba(255,0,0,0.8), rgba(255,0,0,0) 50.71%),linear-gradient(127deg, rgba(50, 227, 50, 0.8), rgba(0,255,0,0) 70.71%),linear-gradient(336deg, rgba(0,0,255,0.8), rgba(0,0,255,0) 70.71%);
//     animation: gradient 12s ease infinite;
//     height: 200px;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     @include bg-gradient
    
// }
// @mixin width-70($v1){
//     width: $v1
// }
// .bg-text{
//     @include width-70(70%)
// }
// .

@import "style_3.scss";