.footer-main{
    gap: 10vh;
    display: flex;
    justify-content: center;
    padding-top: 4%;
}

// .footer-a-img-link{
//     height: 100%;
//     width: 100%;
// }

.hr-separator{
    margin: auto;
    width: 70%;
    height: 2px;
    background-color: rgb(104, 104, 104);
    border-radius: 10px;
    border: 0;
    margin-top: 4%;
}

.footer-main-index{
    justify-content: center;
}

.footer-div{
    width: 10%;
    height: 50px;
}

.logo-svg{
    height: 50px;
    transition: .3s;
    &:hover{
        height: 60px;
        transition: .3s;
    }
}

@media screen and (max-width:800px) {
    .footer-main{
        padding-top: 6%;
    }
}
@media screen and (max-width:350px) {
    .footer-main{
        gap: 5vh;
        padding-top: 7%;
    }
}
