*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    height: 60%;
    align-items: center;
}

.search {
    padding: 0 50px 15px 16px;

}

.nav {
    overflow: auto;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.menu {
    background-color: #000000;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: inherit;
    position: fixed;
    height: 50px;
    width: 100%;
    position: fixed;
    opacity: 0.87;
    z-index: 100;
    transition: 0.2s;
}
.logo-as{
    max-height: 320px;
    height: auto;
    height: 35px;
    width: 90%;
}
.logo-svg{
    height: 35px;
}
.svg-logo{
    width: 100%;

}

.menu:hover {
    background-color: #000000;
    transition: 0.4s;
    opacity: 0.98;
}

.menu li a {
    opacity: 100;
    display: block;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
    color: #cbcbcb;
    width: 200px;
    opacity: 1;
    transition: 0.3s;
}

.menu li a:hover {
    opacity: 100%;
    transition: 0.4s;
    color: rgba(166, 166, 255, 0.81);
}

.hamburger {
    display: none;
    position: fixed;
    right: 0;
    margin: 20px;
    z-index: 1;
}

.bar {
    opacity: 100%;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #cbcbcb;
}

.info{
    width: 100%;
    padding-top: 3%;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

p {
    text-align: center;
    text-wrap: balance;

}

.contacts{
    width: 50%;
}
 .container-contacts {
    padding: 40px;
    display: flex;
    background: #E6EBE6;
    width: 100%;
}
.bg-bottom{
    background: linear-gradient(217deg, rgba(255,0,0,0.8), rgba(255,0,0,0) 50.71%),linear-gradient(127deg, rgba(50, 227, 50, 0.414), rgba(0,255,0,0) 70.71%),linear-gradient(336deg, rgba(0,0,255,0.8), rgba(0,0,255,0) 70.71%);
    background-size: 180% 180%;
    animation: gradient 12s ease infinite;
    width: 100%;
}
.bg-bottom::before{
    background: rgba(0, 0, 0, 0.5);
}
.link-parent:link {
    color: rgba(0, 85, 142, 0.906);
    transition: 0.4s;
}
.link-parent{
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    height: 60%;
    align-items: center;
}
.link-parent:hover {
    color: rgba(255, 255, 255, 0.881);
    transition: 0.4s;
}
.info-text{
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.text {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.img-container {
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-top: 2%;
    z-index: 1;
}

.img {
    margin-top: 10px;
    opacity: 70%;
    width: 100%;
}

.content-img {
    opacity: 90%;
    height: auto;
    max-height: 350px;
    width: 90%;
    border-radius: 7%;
}

.content-img-container{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}
.text-description-container{
    width: 50%;
}
.content-img-news {
    opacity: 90%;
    height: 300px;
    width: 100%;
}

.copyright-container{
    display: flex;
    justify-content: center;
    margin: auto;
}
.copytext{
    color: rgba(192, 192, 192, 0.89);
}

.copytext-links{
    color: rgba(55, 53, 53, 0.89);
}

.description {
    width:100%;
}
.description-container-1{
    padding-top: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-description-container{
    display: inline;
}

.main-container-social-media-2{
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
    padding-top: 2%;
}
.container-social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

}

.description-main{
    width: 100%;
}


@media screen and (max-width:800px) {
    .menu {
        display: none;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .hamburger {
        display: block !important; /* show */
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav{
        display: flex;
    }
}

@media screen and (max-width: 800px){
    .bg {
        height: 320px;
    }
    .bg-text-h1{
        font-size: 25px;
    }
}
@media screen and (max-width:800px) {
    .map {
        display: flex;
        flex-direction: column;
    }
    .contacts {
        margin-bottom: 40px;
    }
}

@media screen and (max-width:800px) {
    .logo-info {
        flex-direction: column;
    }
}
@media screen and (max-width:800px) {
    .content-img {
        width: 70%;
        height: 60%;
    }
    .text-description-container{
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    .description-container-1 {
        flex-direction: column;
        width: 100%;
    }
    .info-text{
        width: 80%;
        padding-top: 0;
    }
    .all-stuff{
        position: absolute;
    }
    .link-text{
        padding-left: 7px;
    }
    .description-container-social-media-1{
        height: 80px;
    }
}
@media screen and (max-width:600px) {
    .container-social-media{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .main-container-social-media-2{
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
}