<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Anton Satsuk / Contacts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/style_main_c.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="icon" type="../static/images/x-icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/style_footer_c.css">
    <link rel="stylesheet" href="../static/css/hamgurger_c.css">
    <link rel="stylesheet" href="../static/css/style_main_c.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style_expirience_c.css">
    <link rel="stylesheet" href="../static/css/style_contacts_c.css">


</head>

<body>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="bg-contacts">
        <div class="bgseparator-title">
            <div class="bg-title">
                <h1 class="bg-title-h1">Contacts</h1>
                <p>GitHub, LinkedIn, E-Mail</p>
                <div class="nav">
                    <ul class="menu">
                        <li class="menu-li-page"><a href="/">Main Page</a></li>
                        <li class="menu-li-page"><a href="experience">Experience</a></li>
                        <li class="menu-li-page"><a href="about_me">About Me</a></li>
                        <li class="menu-li-page"><a href="contacts">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bgseparator-contacts">
            <div class="container-form">
                <div class="container-form-left">
                    <div class="footer-main-index" style="padding-top: 10%;">
                        <hr class="hr-separator">
                        <p class="info">Seeking an intern? Reach out! I am excited to explore possibilities with you!</p>
                        <div class="footer-main">
                            <div class="footer-div">
                                <a href="https://mail.google.com/mail/u/0/?fs=1&to=anton@asatsuk.com&su=&body=Hello%20there!&&tf=cm" target="_blank" class="footer-a-img-link">
                                    <img src="../static/images/mail.svg" class="logo-svg">
                                </a>
                            </div>
                            <div class="footer-div">
                                <a href="https://github.com/highk1nda" target="_blank" class="footer-a-img-link">
                                    <img src="../static/images/github.svg" class="logo-svg">
                                </a>
                            </div>
                            <div class="footer-div">
                                <a href="https://www.linkedin.com/in/anton-satsuk-48602a299/" target="_blank" class="footer-a-img-link">
                                    <img src="../static/images/linkedin.svg" class="logo-svg">
                                </a>
                            </div>
                        </div>
                        <p class="info">anton@asatsuk.com</p>
                    </div>
                </div>
                <div class="container-form-right">
                    <form action="/submit" method="post">
                        <div class="input_box">
                            <label class="text-area-title">Contact me!</label>
                            <textarea placeholder="Enter your E-Mail.." id="text-area" class="text-area-email" name="User_email"></textarea>
                        </div>
                        <div class="input_box">
                            <label class="text-area-title">NOTE: Form is not available yet</label>
                            <textarea placeholder="Enter your message.." id="text-area" class="text-area" style="padding-bottom: 45px;" name="User_message"></textarea>
                        </div>
                        <div class="input_box">
                            <input type="submit" id="test-form" class="button-contact" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/scripts/script.js"></script>
</body>

</html>
<!-- dfsdfsdfdfs -->