<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Anton Satsuk / Experience</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:images" content="" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="images/x-icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/css/style_footer_c.css" />
    <link rel="stylesheet" href="../static/css/hamgurger_c.css" />
    <link rel="stylesheet" href="../static/css/style_main_c.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/style_expirience_c.css" />
  </head>

  <body>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <!-- <div class="bg">
        <p class="bg-text-caps-p">CAREER</p> 
            <h1 class="bg-text-h1">
                My Experience in programming
            </h1>
            <p class="bg-text">
                Python3, WebDev and more
            </p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>Under Construction</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
    </div> -->
    <div class="container">
      <div class="section-title">
        <h1 class="bg-text-h1">Me and programming</h1>
        <p class="bg-text" style="padding-top: 5%">Python3, WebDev and more</p>
        <nav class="nav">
          <ul class="menu">
            <li class="menu-li-page"><a href="/">Welcome page</a></li>
            <li class="menu-li-page"><a href="experience">Experience</a></li>
            <li class="menu-li-page"><a href="about_me">About Me</a></li>
            <li class="menu-li-page"><a href="contacts">Contacts</a></li>
          </ul>
        </nav>
      </div>
      <div class="section-content-one">
        <div class="container-expirience-cards">
          <div class="expirience-cards">
            <button class="expirience-card-button-one">
              <div class="content-card">
                <div class="title-card">
                  <p class="card-title">Python</p>
                  <hr class="card-separator" />
                </div>
                <div class="description-card">
                  <p class="description-text">
                    I've coded a variety of small projects to build my skills,
                    and one of them is a Python-based library system. It’s
                    designed using classes to let multiple users borrow, return,
                    and track their books. With solid error handling, a
                    user-friendly interface, and efficient backend functions,
                    it’s a reliable tool for book management. You can check out
                    the code in my GitHub repository, Python_Library!
                  </p>
                </div>
              </div>
            </button>
          </div>
          <div class="expirience-cards">
            <button class="expirience-card-button-two">
              <div class="content-card">
                <div class="title-card">
                  <p class="card-title">Web Development</p>
                  <hr class="card-separator" />
                </div>
                <div class="description-card">
                  <p class="description-text">
                    Welcome to my personal project! This website were crafted
                    from scratch as a place to share more about my skills,
                    experiences, and ongoing projects. Feel free to dive into
                    the code for this project on my GitHub, and keep checking in
                    as I expand this website with new updates. Looking forward
                    to connecting with you!
                  </p>
                </div>
              </div>
            </button>
          </div>
          <div class="expirience-cards">
            <button class="expirience-card-button-three">
              <div class="content-card">
                <div class="title-card">
                  <p class="card-title">My tool box!</p>
                  <hr class="card-separator" />
                </div>
                <div class="description-card">
                  <p class="description-text">
                    I’ve picked up a solid toolkit along my tech journey! With
                    Python, CSS/SCSS/SASS, and HTML as my go-to skills, plus Git
                    for version control and some Bash scripting under my belt,
                    I’ve got a strong base to build on. Right now, I'm diving
                    deeper into JavaScript, and I’ve also picked up some basics
                    in Flask, Jira, JSON, XML, and MySQL. Every skill has added
                    to my journey and I want to keep expanding my skills from
                    here!
                  </p>
                </div>
              </div>
            </button>
          </div>
        </div>
        <div
          class="animated-circle-red"
          style="width: 150px; height: 150px; top: 10%; left: 10%"
        ></div>
        <div
          class="animated-circle-red"
          style="width: 250px; height: 250px; top: 40%; left: 20%"
        ></div>
        <div
          class="animated-circle-red"
          style="width: 200px; height: 200px; top: 50%; left: 60%"
        ></div>
        <div class="description">
          <p class="container-text">
            This webpage is currently under construction. Check back soon for
            updates. In the meantime, feel free to explore our other pages or
            reach out to me via provided contacts below!
          </p>
        </div>
      </div>
      <div class="footer-main-index">
        <div
          class="animated-circle-red"
          style="width: 200px; height: 200px; top: 90%; left: 80%"
        ></div>
        <div
          class="animated-circle-red"
          style="width: 200px; height: 200px; top: 90%; left: 10%"
        ></div>

        <hr class="hr-separator" />
        <p class="info">
          Seeking an intern? Reach out! I am excited to explore possibilities
          with you!
        </p>
        <div class="footer-main">
          <div class="footer-div">
            <a
              href="https://mail.google.com/mail/u/0/?fs=1&to=anton@asatsuk.com&su=&body=Hello%20there!&&tf=cm"
              target="_blank"
              class="footer-a-img-link"
            >
              <img src="../static/images/mail.svg" class="logo-svg"
            /></a>
          </div>
          <div class="footer-div">
            <a
              href="https://github.com/highk1nda"
              target="_blank"
              class="footer-a-img-link"
            >
              <img src="../static/images/github.svg" class="logo-svg"
            /></a>
          </div>
          <div class="footer-div">
            <a
              href="https://www.linkedin.com/in/anton-satsuk-48602a299/"
              target="_blank"
              class="footer-a-img-link"
            >
              <img src="../static/images/linkedin.svg" class="logo-svg"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/scripts/script.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <!-- <script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('set', 'transport', 'beacon');
    ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script> -->
  </body>
</html>
