<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Anton Satsuk / Hello There!</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:imagess" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="images/x-icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/style_footer_c.css">
    <link rel="stylesheet" href="../static/css/hamgurger_c.css">
    <link rel="stylesheet" href="../static/css/style_main_c.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href="../static/css/style_expirience_c.css"> -->
    <!-- <link rel="stylesheet" href="../static/css/style_contacts_c.css"> -->
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6645fb56be8a450019433a16&product=inline-share-buttons&source=platform" async="async"></script>
</head>

<body>
    <div class="hamburger" id="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="bg">
        <!-- <p class="bg-text-caps-p">WELCOME</p>  -->
        <h1 class="bg-text-h1">
            Hi there! I am Anton 👋🏼
        </h1>
            <p class="bg-text">main page, scroll down to see more</p>
            <!-- <div class="sharethis-inline-share-buttons"></div> -->
                <nav class="nav">
                <ul class="menu">
                    <li class="menu-li-page"><a href="/">Main Page</a></li>
                    <li class="menu-li-page"><a href="experience">Experience</a></li>
                    <li class="menu-li-page"><a href="about_me">About Me</a></li>
                    <li class="menu-li-page"><a href="contacts">Contacts</a></li>
                </ul>
                </nav>
        </div>

    <div class="logo-info">
        <div>
            <img src="../static/images/logo2-edited.png" class="img">
        </div>
        <div class="info-text">
            <p class="info">Hi I am Anton Satsuk! Delve into my journey as Lancaster University Leipzig student, where I study Computer Science. Take a moment to explore my webpage!</p>
        </div>
    </div>
    <div class="container">
    <div class="animated-circle" style="width: 150px; height: 150px; top: 10%; left: 10%;"></div>
    <div class="animated-circle" style="width: 250px; height: 250px; top: 40%; left: 20%;"></div>
    <div class="animated-circle" style="width: 200px; height: 200px; top: 50%; left: 50%;"></div>
    <div class="animated-circle" style="width: 150px; height: 150px; top: 80%; left: 10%;"></div>
    <div class="animated-circle" style="width: 150px; height: 150px; top: 90%; left: 60%;"></div>
    <div class="description">
        <div class="description-container-1">
                <div class="content-img-container">
                    <a href="experience" class="content-img-link">
                        <div class="content-img-div">
                            <h1 class="content-img-text"><span class="span-bg-5">Expirience</span></h1>
                            <img src="../static/images/bg-5.JPEG" class="content-img">
                        </div>
                    </a>
                </div>
                <div class="text-description-container">
                    <p class="info">Dive into my Experience page for intriguing insights into my Python and web development skills. Discover how I crafted this website, developed a Library system enabling multiple users to borrow, return, and view their books. As well as showcasing my proficiency across various operating systems.</p>
                </div>
            </div>

            <div class="description-container-1">
                <div class="content-img-container">
                    <a href="about_me">
                        <h1 class="content-img-text"><span>About me</span></h1>
                        <img src="../static/images/bg-8.JPEG" class="content-img">
                    </a>
                </div>
                <div class="text-description-container">
                    <p class="info">Hey there, I'm Anton, a Computer Science enthusiast at Lancaster University Leipzig! I'm not just your average student - I'm a Python learner, eager to dive into the real-world action. Also, explore my hobbies to get to know me beyond the world of programming.
                    </p>
                </div>
            </div>
            <div class="description-container-1">
                <div class="content-img-container">
                    <a href="contacts">
                        <h1 class="content-img-text"><span class="span-bg-5">Contacts</span></h1>
                        <img src="../static/images/bg-5.JPEG" class="content-img">
                    </a>
                </div>
                <div class="text-description-container">
                    <p class="info">Looking to connect? Click the link next to this text to visit my Contacts page, where you'll find all the information you need. From my LinkedIn profile and GitHub repositories to my email address, it's all there waiting for you. Feel free to reach out!</p>
                </div>
         </div>
    </div>
    <div class="footer-main-index">
        <hr class="hr-separator">
        <p class="info">Seeking an intern? Reach out! I am excited to explore possibilities with you!
        </p>
        <div class="footer-main">
            <div class="footer-div">    
                <a href="https://mail.google.com/mail/u/0/?fs=1&to=anton@asatsuk.com&su=&body=Hello%20there!&&tf=cm" target="_blank"  class="footer-a-img-link">
                    <img src="../static/images/mail.svg" class="logo-svg"></a>
            </div>
            <div class="footer-div">    
                <a href="https://github.com/highk1nda" target="_blank" class="footer-a-img-link">
                    <img src="../static/images/github.svg" class="logo-svg"></a>
            </div>
            <div class="footer-div">    
                <a href="https://www.linkedin.com/in/anton-satsuk-48602a299/" target="_blank"  class="footer-a-img-link">
                    <img src="../static/images/linkedin.svg" class="logo-svg"></a>
            </div>
        </div>
    </div>
</div>

</div>
<script src="../static/scripts/script.js"></script>


<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID.
<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('set', 'transport', 'beacon');
    ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script> -->
</body>
</html>
